RESEND_API_KEY=re_UEYeCyno_De4VRsVNdvQpRoAb1ryZyAq3
NEXTAUTH_SECRET=your_nextauth_secret_here
NODE_ENV=development

# optional if you want to do GitHub OAuth
AUTH_GITHUB_ID=Ov23li01N9kblX4X4nTd
AUTH_GITHUB_SECRET=b2a512d6dadc62325104e5a24f95181c194d61c0 

# Production database
POSTGRES_URL="postgresql://jaimeinoque20:FhA3wYCv4dHf@ep-floral-bar-a50a78h4.us-east-2.aws.neon.tech/babudb?sslmode=require"

